
server {
    listen {{ nginx_port_no_tls }};
    listen {{ nginx_port_tls }} http2 ssl;
    listen [::]:443 http2 ssl;
    
    ssl_certificate {{ public_key_dir }}/{{ public_key }};
    ssl_certificate_key {{ private_key_dir }}/{{ private_key }};

    root /usr/share/nginx/html;
    index index.html index.htm;

    server_name {{ ansible_host }};

    location / {
            try_files $uri $uri/ =404;
    }
}
